.env
beets/*.log*
beets/.cache/*
beets/.*history
beets/beets.sh
beets/*.pickle
deemix/
bazarr/
duckdns/
heimdall/
homeassistant/
jackett/
jellyfin/
lidarr/
navidrome/
pihole/
radarr/
sonarr/
swag/
transmission/
yacht/
audiobookshelf/
tvheadend/
unbound/
